*{
    padding: 0;
    margin: 0;
}

/* This code is for navigation container */
.nav-container{
    height: 90px;
    background-color: black;
    color: white;
}
.nav-container ul{
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.brand{
    width: 300px;
    color: red;
    font-size: 40px;
} 
.nav-container li{
    align-items: center;
    text-align: center;
    margin:20px;
    cursor: pointer;
}
.services{
    font-size: 20px;
}
.services:hover{
    color: red;
}
@media only screen and (max-width: 600px) {
  .nav-container{
    height: 50px;
    background-color: black;
    color: white;
}
.nav-container ul{
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.brand{
    width: 150px;
    color: red;
    font-size: 22px;
} 
.nav-container li{
    align-items: center;
    text-align: center;
    margin:10px;
    cursor: pointer;
}
.services{
    font-size: 18px;
}
.services:hover{
    color: red;
}
}



/* This code is for image container */
.image-container{
    text-align: center;
    height: 500px;
    color:white;
    background-image:url("../Images/Bulb.jpg");
    background-size: auto;
}
@media only screen and (max-width: 600px){
    .image-container{
        color: white;
        width: auto;
        height: 250px;
        background-image:url("../images/bulb.jpg");
    }
    .image-container h1{
        font-size: 25px;
        text-align: center;
        line-height: 250px;
        background: linear-gradient(to right, #66ecec 0%, #6c12db 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}